@import "variables.scss";

.achievements {
    width: 100%;
    height: 56rem;
    background-color: $color-grey;
    position: relative;

    &Slider{
        width: 54rem;
        height: 25rem;
        background-color: #FFF;
        display: flex;
        flex-direction: column ;
        justify-content: flex-start;
        align-items: flex-start;
        // margin-top: 18.3rem;
        // padding-top: 7.5rem;
        // padding-left: 8.6rem;
        font-family: $font-family;
        position: absolute;
        top: 18.5rem;
        left: 8.7rem;

        &__title{
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 5rem;
            margin-top: 1.1rem;
            margin-left: 2.1rem;
            color: $color-secondary;
            text-transform: uppercase;
            &::first-letter{
                font-size: 3.75rem;
            }
        }

        &__img{
            width: 46rem;
            height: 14.6rem;
            margin-left: 3.75rem;
        }

        &__buttons{
            width: 6.9rem;
            height: 2.7rem;
            margin-left: 22.6rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__card{
        width: 50.6rem;
        height: 25rem;
        background-color: $color-background;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 2.4rem;
        font-family: $font-family;
        position: relative;
    }

    &Card{
        &__wrapper{
            width: 56.3rem;
            height: 25rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 15.4rem;
            left: 60.75rem;
        }
        &__title{
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 5rem;
            text-transform: uppercase;
            color: $color-secondary;
            margin-top: 1.1rem;
            &::first-letter{
                font-size: 3.75rem;
            }
        }
        &__player{
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #FFF;
            line-height: 3.3rem;
            margin-top: 0.6rem;
        }
        &__playerImg{
            width: 20rem;
            height: 35rem;
            position: absolute;
            bottom: 0.32rem;
            left: 33rem;
        }
        &__description{
            font-size: 0.75rem;
            display: block;
            width: 25rem;
            color: $color-primary;
            margin-top: 1.4rem;
        }
        &__quote{
            display: block;
            width: 25rem;
            font-weight: 300;
            color: #FFF;
            line-height: 1.6rem;
            font-style: italic;
            margin-top: 1.5rem;
        }
        &__buttons{
            width: 2.7rem;
            height: 7.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        
    }
}