@import "./variables.scss";

.club {
    width: 100%;
    height: 34rem;
    background-image: url("../../assets/netImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    font-family: $font-family;

    &__card{
        // width: 65rem;
        width: 57%;
        // height: 34.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #FFF;
        padding-left: 6%;
        position: absolute;
        top: 10.5rem;
        left: 0;
        z-index: 2;
    }

    &__title{
        color: $color-secondary;
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 5rem;
        padding-top: 3.5rem;
        &::first-letter{
            font-size: 3.75rem;
        }
    }

    &__description{
        font-size: 1.2rem;
        font-weight: 300;
        padding-top: 1.4rem;
        display: block;
        width: 80%;
    }

    &__signature{
        width: 8rem;
        height: 3.9rem;
        padding-top: 0.5rem;
        margin-top: 2rem;

        img{
            width: 100%;
            height: 100%;
        }
    }

    &__position{
        font-weight: 300;
        padding-top: 1.3rem;
    }

    &__coach{
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 0.4rem;
        margin-bottom: 4rem;
    }

    &__coachImg{
        width: 29rem;
        height: 45rem;
        position: absolute;
        top: -5.6rem;
        left: 50%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}