@import "variables.scss";

.games {
    height: 856px;
    position: relative;
    top: 0;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
    z-index: -2;
    .container{
        position: relative;
    }
    &__background {
        position: absolute;
        height: 700px;
        width: 850px;
        top: -100px;
        left: -450px;
        z-index: -1;
    }
    &__cards{
        width: 100%;
        height: 16.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // transform: translate(0, -35%);
        z-index: 200;
        
        
    }
    &__card{
        width: 24.4rem;
        height: 16.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        box-shadow: 0px 16px 21px -6px rgba(177, 177, 177, 1);
        font-family: $font-family;
        z-index:200;
    }

    &__nextGame{
        width: 100%;
        height: 24rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}


.card{
    &__title{
        color: $color-accent;
        font-weight: 700;
        font-size: 1.125rem;
        margin-top: 1rem;
    }
    &__image{
        width: 6.8rem;
        height: 4,9rem;
    }
    &__description{
        display: block;
        width: 19rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    &__button{
        margin-bottom: 1.6rem;
        font-size: 0.9rem;
        color: black;
        text-decoration: none;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 3.2rem;
            height: 0.2rem;
            background-color: $color-buttons;
            position: absolute;
            top: 1.3rem;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &__standings{
        padding-top: 1.7rem;
        font-family: $font-family;
        font-size: 0.9rem;
        li {
            margin-bottom: 0.7rem;

        }
        li:nth-child(1){
            font-weight: 700;
        }
    }
    
    
    
    
}




.table{
    
    &__wrapper{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;
    }
    &__head{
        font-weight: 700;
        color: #707070;
        width: 1.5rem;
        padding-right: 1.6rem;
        font-size: 0.9rem;
    }
    &__lastCol{
        font-weight: 700;
        color: #707070;
        font-size: 0.9rem;
    }
    &__col{
        font-weight: 300;
        color: black;
        font-size: 0.9rem;
    }
    &__row{
        height: 20px;
        
    }
}

th, td{
    padding-bottom: 0.7rem;
}


.lastGame{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: $font-family;
    &__result{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        p:nth-child(3){
            font-size: 4.4rem;
            font-weight: 200;
            padding-bottom: 0.8rem;
            color: $color-grey;
        }
    }

    &__date{
        font-size: 0.9rem;
        color: $color-grey;
    }
    &__poloniaLogo{
        height: 5rem;
        width: 5rem;
        margin-left: 0.5rem;
    }

    &__oponentLogo{
        height: 6rem;
        width: 6rem;
    }

    &__points{
        font-size: 0.9rem;
        color: $color-grey;
    }
}

.result__poloniaSets,
.result__oponentSets{
    font-size: 4.4rem;
    color: $color-buttons;
}


.nextGame{
    &__links{
    width: 22rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $font-family;
    margin-right: 12rem;
    }

    &__info{
        width: 62.5rem;
        height: 18rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.links{
    &__title{
        font-size: 2.5rem;
        font-weight: 300;
        color: $color-buttons;
        text-transform: uppercase;
        line-height: 5rem;
        margin-bottom: 1.9rem;
        &::first-letter{
            font-size: 3.75rem;
        }
    }
    &__timetableButton{
        width: 100%;
        height: 2.7rem;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        background-color: #FFF;
        margin-bottom: 1.5rem;
        padding-top: calc(1.35rem - 21px / 2);
        text-align: center;
    }
    &__buyButton{
        // cursor: pointer;
        width: 100%;
        height: 2.7rem;
        text-decoration: none;
        color: #FFF;
        background-color: $color-buttons;
        margin-bottom: 1.5rem;
        padding-top: calc(1.35rem - 21px / 2);
        text-align: center;

    }
    &__advButton{
        width: 100%;
        height: 2.7rem;
        text-decoration: none;
        color: #FFF;
        background-color: $color-accent;
        margin-bottom: 2.2rem;
        padding-top: calc(1.35rem - 21px / 2);
        text-align: center;
    }
    &__streaming{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            padding-top: 0.7rem;
        }
        
    }
    &__polsat{
        width: 2.1rem;
        height: 3rem;
        
    }
    &__bbcSport{
        width: 5.9rem;
        height: 1rem;
        padding-top: 0.7rem;
    }
}



.info{
    &__poloniaLogo{
        width: 18rem;
        height: 18rem;
        img{
            width: 100%;
            height: 100%;
        };
    }
    &__oponentLogo{
        width: 15rem;
        height: 15rem;
        margin-right: 1.5rem;
    }

    &__text{
        font-family: $font-family;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__league{
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    &__polonia{
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    &__oponent{
        color: $color-accent;
        font-weight: 600;
        font-size: 1.9rem;
        margin-bottom: 1.9rem;
        position: relative;
        padding-left: 3rem;
        &::after{
            content: "vs";
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.9rem;
            color: $color-grey;
            position: absolute;
            left: 0.2rem;
        }

    }
    &__time{
        font-weight: 700;
    }
}
