@import "variables.scss";


@media #{ $screen__s }{
    .games {
         
        position: relative;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
        
        .container{
            // position: relative;
        }
        &__background {
            position: absolute;
            height: 700px;
            width: 850px;
            top: -100px;
            left: -450px;
            
        }
        &__cardsWrapper{
            width: 50%;
            min-width: 40rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2%;
            margin-bottom: 3rem;
    
        }
        &__cards{
            width: 100%;
            
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            // gap: 1.5rem;
            transform: translate(0, -3rem);
            z-index: 10;
            
            
            
            
        }
    
        &__card{
            width: 48%;
            height: 16.5rem;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #FFF;
            box-shadow: 0px 16px 21px -6px rgba(177, 177, 177, 1);
            font-family: $font-family;
            flex-shrink: 0;
            flex-grow: 0;
            z-index: 10;
        }
    
        &__nextGame{
            
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12.5rem;
            // flex-wrap: wrap-reverse;
            gap: 3rem;
        }
    }
    
    
    .card{
        &__title{
            color: $color-primary;
            font-weight: 700;
            font-size: 1.125rem;
            margin-top: 1rem;
        }
        &__image{
            width: 6.8rem;
            height: 4,9rem;
        }
        &__description{
            display: block;
            width: 70%;
            font-size: 1rem;
            margin-bottom: 1rem;
    
        }
        &__button{
            margin-bottom: 1.6rem;
            font-size: 0.9rem;
            color: black;
            text-decoration: none;
            position: relative;
            &::after{
                content: "";
                display: block;
                width: 3.2rem;
                height: 0.2rem;
                background-color: $color-secondary;
                position: absolute;
                top: 1.3rem;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        &__standings{
            padding-top: 1.7rem;
            font-family: $font-family;
            font-size: 0.9rem;
            li {
                margin-bottom: 0.7rem;
    
            }
            li:nth-child(1){
                font-weight: 700;
            }
        }
        
        
        
        
    }
    
    
    
    
    .table{
        
        &__wrapper{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family;
        }
        &__head{
            font-weight: 700;
            color: #707070;
            width: 1.5rem;
            padding-right: 1.6rem;
            font-size: 0.9rem;
        }
        &__lastCol{
            font-weight: 700;
            color: #707070;
            font-size: 0.9rem;
        }
        &__col{
            font-weight: 300;
            color: black;
            font-size: 0.9rem;
        }
        &__row{
            height: 20px;
            
        }
    }
    
    th, td{
        padding-bottom: 0.7rem;
    }
    
    
    .lastGame{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: $font-family;
        &__result{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            p:nth-child(3){
                font-size: 4.4rem;
                font-weight: 200;
                padding-bottom: 0.8rem;
                color: $color-grey;
            }
        }
    
        &__date{
            font-size: 0.9rem;
            color: $color-grey;
        }
        &__poloniaLogo{
            height: 100%;
            width: 30%;
            margin-left: 0.5rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
    
        &__oponentLogo{
            height: 100%;
            width: 30%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    
        &__points{
            font-size: 0.9rem;
            color: $color-grey;
        }
    
        
    }
    
    .result__poloniaSets,
    .result__oponentSets{
        font-size: 4.4rem;
        color: $color-secondary;
    }
    
    
    .nextGame{
        &__links{
        width: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-family: $font-family;
        // margin-right: 12rem;
        flex-shrink: 0;
        gap: 1.5rem;
        position: relative;
        
        }
        &__info{
            
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            gap: 1rem;
        }
        
        &__title{
            font-family: $font-family;
            display: block;
            width: 100%;
            font-size: 2.5rem;
            font-weight: 300;
            color: $color-secondary;
            transform: translate(-1.3%, 0);
            text-transform: uppercase;
            line-height: 5rem;
            margin-bottom: 1.9rem;
            &::first-letter{
                font-size: 3.75rem;
                padding-left: 1.2rem;
            }
        }
    }
    
    .links{
        
        &__timetableButton{
            width: 100%;
            height: 2.7rem;
            text-decoration: none;
            color: black;
            border: 2px solid black;
            background-color: #FFF;
            // margin-bottom: 1.5rem;
            padding-top: calc(1.35rem - 21px / 2);
            text-align: center;
            
        }
        &__buyButton{
            width: 100%;
            height: 2.7rem;
            text-decoration: none;
            color: #FFF;
            background-color: $color-secondary;
            padding-top: calc(1.35rem - 21px / 2);
            text-align: center;
    
        }
        &__advButton{
            width: 100%;
            height: 2.7rem;
            text-decoration: none;
            color: #FFF;
            background-color: $color-primary;
            padding-top: calc(1.35rem - 21px / 2);
            text-align: center;
        }
        &__streaming{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            p{
                padding-top: 0.7rem;
            }
            
        }
        &__polsat{
            width: 2.1rem;
            height: 3rem;
            
        }
        &__bbcSport{
            width: 5.9rem;
            height: 1rem;
            padding-top: 0.7rem;
        }
    }
    
    
    
    .info{
        &__poloniaLogo{
            width: 15rem;
            height: 15rem;
            flex-shrink: 0;
            img{
                width: 100%;
                height: 100%;
            };
        }
        &__oponentLogo{
            width: 15rem;
            height: 15rem;
            flex-shrink: 0;
            // margin-right: 1.5rem;
            img{
                width: 100%;
                height: 100%;
            };
        }
    
        &__text{
            width: 25rem;
            font-family: $font-family;
            // padding-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        &__league{
            font-size: 1.25rem;
            font-weight: 300;
            margin-bottom: 1rem;
            text-align: center;
        }
        &__polonia{
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 1rem;
            text-align: center;
    
        }
        &__oponent{
            color: $color-primary;
            font-weight: 600;
            font-size: 1.9rem;
            margin-bottom: 1.9rem;
            position: relative;
            padding-left: 3rem;
            text-align: center;
    
            &::after{
                content: "vs";
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1.9rem;
                color: $color-grey;
                position: absolute;
                left: 0.2rem;
            }
    
        }
        &__time{
            font-weight: 700;
        }
    }
    
}

@media #{ $screen__xs } {
    .games{
        &__cards{
            gap: 1rem;
        }
        &__cardsWrapper{
            flex-flow: column nowrap;
            gap: 1rem;
            margin: 0;
        }
        &__nextGame{
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    .nextGame{
        &__info{
            align-items: center;
        }
    }
}


@media #{ $screen__m }{
    .games{

    
        &__nextGame{
            flex-direction: column-reverse;
        }
    }   
}

@media #{ $screen__l }{
    .nextGame{
        
        &__info{
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: 5%;
            gap: 2%;    
            
        }
    }
    .games{

    
        &__nextGame{
            flex-direction: row;
            justify-content: center;
        }
    }  
    
}
@media only screen and (min-width: 1513px){
    .games{

    
        &__nextGame{
            flex-direction: row;
            justify-content: space-between;
        }
    }  
}
