

.header {
    z-index: 100;
    height: 13.1rem;
    width: 100%;
    max-width: 1920px;
    position: fixed;
    background-color: $color-background;
    .container {
        display: flex;
        height: 100%;
    }
    &__logos {
        padding-top: 0.8rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 45%;
        gap: 60px;
        &__club {
            height: 10.3rem;
            width: 10.3rem;
        }
        &__sponsor {
            height: 5rem;
            width: 15rem;
        }
    }
    &__links {
        width: 55%;
        display: flex;
        flex-direction: column;
    }
    &__contacts {
        display: flex;
    }
    &__nav {
        display: flex;
        padding-top: 65px;
        justify-content: space-between;
    }
    &__media{
        position: relative;
        &::after{
            content: '';
            height: 2.4rem;
            width: 1px;
            position: absolute;
            background-color: $color-grey;
            top:0;
            left:-1.5rem;
            transform: translate(0, -25%);
            opacity: 0.3;
        }
    }
}

.media__wrapper {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 94px;
}

.nav {
    &__flag {
        width: 1rem;
        height: 1rem;
        border-radius: 0.2rem;
    }
    &__link {
        color: #FFF;
        font-family: $font-family;
        line-height: 21px;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        // z-index: 200;
    }
    &__searchIcon {
        color: $color-primary;
    }
}

.media {
    &__fb,
    &__instagram,
    &__twitter,
    &__youtube,
    &__linkedIn {
        color: $color-primary;
        padding-left: 1rem;
    }
    
}

.contacts {
    &__phoneNumber {
        color: #FFF;
        font-family: $font-family;
        line-height: 1.1rem;
        font-size: 0.75rem;
        font-weight: 300;
        padding-right: 3rem;
        margin-left: 0.5rem;
        // z-index: 200;
    }
    &__email {
        color: #FFF;
        font-family: $font-family;
        line-height: 1.1rem;
        font-size: 0.75rem;
        font-weight: 300;
        padding-right: 3rem;
        margin-left: 0.5rem;
        // z-index: 200;
    }
    &__location {
        color: #FFF;
        font-family: $font-family;
        line-height: 1.1rem;
        font-size: 0.75rem;
        font-weight: 300;
        margin-left: 0.5rem;
        // z-index: 200;
    }
    &__phoneIcon {
        // color: $color-accent;
        width: 0.82rem;
        height: 0.82rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__emailIcon {
        color: $color-primary;
    }
    &__locationIcon {
        // color: $color-accent;
        width: 0.82rem;
        height: 0.82rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
}