@import "variables.scss";
.hero {
    position: relative;
    padding-top: 210px;
    background-color: $color-background;
    max-width: 1920px;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__image {
        transform: translate(130px, 0);
        // z-index: 101;
        // z-index: 1;
        position: relative;
        img {
            z-index: 10;
        }
    }
    &__background {
        width: 825px;
        height: 725px;
        position: absolute;
        top: -55px;
        left: 1467px;
        // z-index: 102;
        // opacity: 0.4;
    }
}

.textBox {
    color: #FFF;
    width: 42rem;
    height: 21rem;
    margin-top: 4.25rem;
    font-family: $font-family;
    &__welcomeText {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 300;
    }
    &__line {
        height: 3px;
        width: 150px;
        background-color: $color-accent;
        margin-top: 1rem;
    }
    &__headline {
        text-transform: capitalize;
        font-size: 4.375rem;
        font-weight: 300;
        line-height: 5.8rem;
        p {
            color: $color-accent;
            font-size: 5rem;
            font-weight: 800;
            line-height: 6.4rem;
        }
    }
    &__description {
        margin-top: 1.3rem;
        font-size: 1.25rem;
        font-weight: 300;
    }
}

// .hero::after {
//     content: '';
//     display: block;
//     width: 825px;
//     height: 725px;
//     opacity: 0.4;
//     z-index: 102;
//     position: absolute;
//     top: 0;
//     left: 80vw;
//     background-image: url("https://drive.google.com/uc?id=1jpo0N3W0Oa3rjx8FvlhE2TJ1ymOPxyBh");
// }