@import "variables.scss";



@media #{ $screen__s }{
    .hero {
        position: relative;
        // padding-top: 210px;
        background-color: $color-background;
        max-width: 1920px;
        .container {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            position: relative;
        }
        &__image {
            width: 60.3rem;
            height: 36.62rem;
            // transform: translate(130px, 0);
            // position: relative;
            background-image: url("../../assets/heroPlayer.png");
            background-size: cover;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &__background {
            width: 825px;
            height: 725px;
            position: absolute;
            background-image: url("../../assets/backgroundImage.png");
            top: -17rem;
            right: 0;
            background-position: 25rem 0;
            background-repeat: no-repeat;
            z-index: 101;
        }
    }
    
    .textBox {
        color: #FFF;
        width: 42rem;
        // height: 21rem;
        margin-top: 4.25rem;
        font-family: $font-family;
        margin-bottom: 8.5rem;
        position: relative;
        z-index: 10;
        &__welcomeText {
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: 300;
        }
        &__line {
            height: 3px;
            width: 150px;
            background-color: $color-primary;
            margin-top: 1rem;
        }
        &__headline {
            text-transform: capitalize;
            font-size: 4.375rem;
            font-weight: 300;
            line-height: 5.8rem;
            p {
                color: $color-primary;
                font-size: 5rem;
                font-weight: 800;
                line-height: 6.4rem;
            }
        }
        &__description {
            margin-top: 1.3rem;
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
    
    
}

@media #{ $screen__xs}{
        
    .hero{
        .container{
            width: 80%;
        }
        &__image{
            display: none;
        }
    }
   .textBox{
       &__headline{
           font-size: 3.5rem;
       }
   }
}
