@import "reset.scss";
@import "variables.scss";
@import "generic.scss";
@import "header.scss";
@import "hero.scss";
@import "games.scss";
@import "club.scss";
@import "achievements.scss";
@import "team.scss";
@import "news.scss";
@import "media.scss";
@import "tv.scss";
@import "sections.scss";
@import "shop.scss";
@import "sponsors.scss";
* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
}

.container{
    width: 90%;
}


// @media (max-width: 1800px){
//     html{
//         font-size: 14px;
//     }
// }

// @media (max-width: 1600px){
//     html{
//         font-size: 12px;
//     }
// }

