@import "reset.scss";
@import "variables.scss";
@import "header.scss";
@import "hero.scss";
@import "games.scss";
@import "sections.scss";
* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
}

