@import "variables.scss";


.media{
    &__header{
        width: 100%;
        // height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family;
    
    }
    &Header{
        &__title{
            display: block;
            width: 30rem;
            font-size: 2.5rem;
            font-weight: 300;
            color: $color-secondary;
            line-height: 5rem;
            &::first-letter{
                font-size: 3.75rem;
                font-weight: 300;
            }
        }
        &__buttonsWraper{
            width: 26rem;
            height: 3.1rem;
            display: flex;
            flex-flow: row;
            justify-content: center;
            gap: 1.5rem;
        }
        &__buttons{
            width: 56rem;
            // height: 3.1rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;
            gap: 1.5rem;
        
        }
        &__button{
            display: block;
            width: 12.5rem;
            height: 3.1rem;
                img {
                    width: 100%;
                    height: 100%;
                }
        }

    }

    &__gallery{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
}