.sponsors {
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        // gap: 2rem;
    }
    
    &__mainSponsor {
        width: 514px;
        height: 185px;
        position: relative;
        transform: translate(0, -1rem);
    }
    &__mainSponsor::after {
        content: 'Sponsor główny';
        height: 21px;
        display: block;
        position: absolute;
        line-height: 21;
        font-family: $font-family;
        font-size: 1rem;
        font-weight: 700;
        top: -140px;
        left: 260px;
    }
    &__sponsorLogo{
        margin: 0.5rem 2rem;
        img{
            width: 100%;
            height: 100%;
        }
        
    }
}

