@import "variables.scss";



.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }


.tv{
    .container{
        
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__header {
        height: 12.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        h2 {
            font-family: $font-family;
            font-size: 2.5rem;
            line-height: 5rem;
            font-weight: 300;
            text-transform: capitalize;
            margin-top: 1rem;
            color: $color-secondary;
        }
        h2::first-letter {
            font-size: 3.75rem;
        }
        a {
            text-decoration: none;
            font-family: $font-family;
            font-size: 1rem;
            line-height: 21px;
            color: $color-primary;
            margin-top: 2.8rem;
        }
    }
    &__windowsWrapper{
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 3rem;
    }
    &__bigWindow{
    width: 50.625rem;
    height: 29.75rem;
    // margin-right: 5rem;
    }
    &__smallWindows{
       
        width: 50.625rem;
        height: 29em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__smallWindow{
        width: 24.56rem;
        height: 14.1rem;
    }
    &__ad{
        display: block;
        width: 100%;
        height: 13.75rem;
        margin-top: 3.75rem;
        margin-bottom: 4rem;
        img{
            width: 100%;
            height: auto;
        }
    }
}